/japan-all-stock-prices_20150105.csv
/japan-all-stock-prices_20150106.csv
/japan-all-stock-prices_20150107.csv
/japan-all-stock-prices_20150108.csv
/japan-all-stock-prices_20150109.csv
/japan-all-stock-prices_20150113.csv
/japan-all-stock-prices_20150114.csv
/japan-all-stock-prices_20150115.csv
/japan-all-stock-prices_20150116.csv
/japan-all-stock-prices_20150119.csv
/japan-all-stock-prices_20150120.csv
/japan-all-stock-prices_20150121.csv
/japan-all-stock-prices_20150122.csv
/japan-all-stock-prices_20150123.csv
/japan-all-stock-prices_20150126.csv
/japan-all-stock-prices_20150127.csv
/japan-all-stock-prices_20150128.csv
/japan-all-stock-prices_20150129.csv
/japan-all-stock-prices_20150130.csv
/japan-all-stock-prices_20150202.csv
/japan-all-stock-prices_20150203.csv
/japan-all-stock-prices_20150204.csv
/japan-all-stock-prices_20150205.csv
/japan-all-stock-prices_20150206.csv
/japan-all-stock-prices_20150209.csv
/japan-all-stock-prices_20150210.csv
/japan-all-stock-prices_20150212.csv
/japan-all-stock-prices_20150213.csv
/japan-all-stock-prices_20150216.csv
/japan-all-stock-prices_20150217.csv
/japan-all-stock-prices_20150218.csv
/japan-all-stock-prices_20150219.csv
/japan-all-stock-prices_20150220.csv
/japan-all-stock-prices_20150223.csv
/japan-all-stock-prices_20150224.csv
/japan-all-stock-prices_20150225.csv
/japan-all-stock-prices_20150226.csv
/japan-all-stock-prices_20150227.csv
/japan-all-stock-prices_20150302.csv
/japan-all-stock-prices_20150303.csv
/japan-all-stock-prices_20150304.csv
/japan-all-stock-prices_20150305.csv
/japan-all-stock-prices_20150306.csv
/japan-all-stock-prices_20150309.csv
/japan-all-stock-prices_20150310.csv
/japan-all-stock-prices_20150311.csv
/japan-all-stock-prices_20150312.csv
/japan-all-stock-prices_20150313.csv
/japan-all-stock-prices_20150316.csv
/japan-all-stock-prices_20150317.csv
/japan-all-stock-prices_20150318.csv
/japan-all-stock-prices_20150319.csv
/japan-all-stock-prices_20150320.csv
/japan-all-stock-prices_20150323.csv
/japan-all-stock-prices_20150324.csv
/japan-all-stock-prices_20150325.csv
/japan-all-stock-prices_20150326.csv
/japan-all-stock-prices_20150327.csv
/japan-all-stock-prices_20150330.csv
/japan-all-stock-prices_20150331.csv
/japan-all-stock-prices_20150401.csv
/japan-all-stock-prices_20150402.csv
/japan-all-stock-prices_20150403.csv
/japan-all-stock-prices_20150406.csv
/japan-all-stock-prices_20150407.csv
/japan-all-stock-prices_20150408.csv
/japan-all-stock-prices_20150409.csv
/japan-all-stock-prices_20150410.csv
/japan-all-stock-prices_20150413.csv
/japan-all-stock-prices_20150414.csv
/japan-all-stock-prices_20150415.csv
/japan-all-stock-prices_20150416.csv
/japan-all-stock-prices_20150417.csv
/japan-all-stock-prices_20150420.csv
/japan-all-stock-prices_20150421.csv
/japan-all-stock-prices_20150422.csv
/japan-all-stock-prices_20150423.csv
/japan-all-stock-prices_20150424.csv
/japan-all-stock-prices_20150427.csv
/japan-all-stock-prices_20150428.csv
/japan-all-stock-prices_20150430.csv
/japan-all-stock-prices_20150501.csv
/japan-all-stock-prices_20150507.csv
/japan-all-stock-prices_20150508.csv
/japan-all-stock-prices_20150511.csv
/japan-all-stock-prices_20150512.csv
/japan-all-stock-prices_20150513.csv
/japan-all-stock-prices_20150514.csv
/japan-all-stock-prices_20150515.csv
/japan-all-stock-prices_20150518.csv
/japan-all-stock-prices_20150519.csv
/japan-all-stock-prices_20150520.csv
/japan-all-stock-prices_20150521.csv
/japan-all-stock-prices_20150522.csv
/japan-all-stock-prices_20150525.csv
/japan-all-stock-prices_20150526.csv
/japan-all-stock-prices_20150527.csv
/japan-all-stock-prices_20150528.csv
/japan-all-stock-prices_20150529.csv
/japan-all-stock-prices_20150601.csv
/japan-all-stock-prices_20150602.csv
/japan-all-stock-prices_20150603.csv
/japan-all-stock-prices_20150604.csv
/japan-all-stock-prices_20150605.csv
/japan-all-stock-prices_20150608.csv
/japan-all-stock-prices_20150609.csv
/japan-all-stock-prices_20150610.csv
/japan-all-stock-prices_20150611.csv
/japan-all-stock-prices_20150612.csv
/japan-all-stock-prices_20150615.csv
/japan-all-stock-prices_20150616.csv
/japan-all-stock-prices_20150617.csv
/japan-all-stock-prices_20150618.csv
/japan-all-stock-prices_20150619.csv
/japan-all-stock-prices_20150622.csv
/japan-all-stock-prices_20150623.csv
/japan-all-stock-prices_20150624.csv
/japan-all-stock-prices_20150625.csv
/japan-all-stock-prices_20150626.csv
/japan-all-stock-prices_20150629.csv
/japan-all-stock-prices_20150630.csv
/japan-all-stock-prices_20150701.csv
/japan-all-stock-prices_20150702.csv
/japan-all-stock-prices_20150703.csv
/japan-all-stock-prices_20150706.csv
/japan-all-stock-prices_20150707.csv
/japan-all-stock-prices_20150708.csv
/japan-all-stock-prices_20150709.csv
/japan-all-stock-prices_20150710.csv
/japan-all-stock-prices_20150713.csv
/japan-all-stock-prices_20150714.csv
/japan-all-stock-prices_20150715.csv
/japan-all-stock-prices_20150716.csv
/japan-all-stock-prices_20150717.csv
/japan-all-stock-prices_20150721.csv
/japan-all-stock-prices_20150722.csv
/japan-all-stock-prices_20150723.csv
/japan-all-stock-prices_20150724.csv
/japan-all-stock-prices_20150727.csv
/japan-all-stock-prices_20150728.csv
/japan-all-stock-prices_20150729.csv
/japan-all-stock-prices_20150730.csv
/japan-all-stock-prices_20150731.csv
/japan-all-stock-prices_20150803.csv
/japan-all-stock-prices_20150804.csv
/japan-all-stock-prices_20150805.csv
/japan-all-stock-prices_20150806.csv
/japan-all-stock-prices_20150807.csv
/japan-all-stock-prices_20150810.csv
/japan-all-stock-prices_20150811.csv
/japan-all-stock-prices_20150812.csv
/japan-all-stock-prices_20150813.csv
/japan-all-stock-prices_20150814.csv
/japan-all-stock-prices_20150817.csv
/japan-all-stock-prices_20150818.csv
/japan-all-stock-prices_20150819.csv
/japan-all-stock-prices_20150820.csv
/japan-all-stock-prices_20150821.csv
/japan-all-stock-prices_20150824.csv
/japan-all-stock-prices_20150825.csv
/japan-all-stock-prices_20150826.csv
/japan-all-stock-prices_20150827.csv
/japan-all-stock-prices_20150828.csv
/japan-all-stock-prices_20150831.csv
/japan-all-stock-prices_20150901.csv
/japan-all-stock-prices_20150902.csv
/japan-all-stock-prices_20150903.csv
/japan-all-stock-prices_20150904.csv
/japan-all-stock-prices_20150907.csv
/japan-all-stock-prices_20150908.csv
/japan-all-stock-prices_20150909.csv
/japan-all-stock-prices_20150910.csv
/japan-all-stock-prices_20150911.csv
/japan-all-stock-prices_20150914.csv
/japan-all-stock-prices_20150915.csv
/japan-all-stock-prices_20150916.csv
/japan-all-stock-prices_20150917.csv
/japan-all-stock-prices_20150918.csv
/japan-all-stock-prices_20150924.csv
/japan-all-stock-prices_20150925.csv
/japan-all-stock-prices_20150928.csv
/japan-all-stock-prices_20150929.csv
/japan-all-stock-prices_20150930.csv
/japan-all-stock-prices_20151001.csv
/japan-all-stock-prices_20151002.csv
/japan-all-stock-prices_20151005.csv
/japan-all-stock-prices_20151006.csv
/japan-all-stock-prices_20151007.csv
/japan-all-stock-prices_20151008.csv
/japan-all-stock-prices_20151009.csv
/japan-all-stock-prices_20151013.csv
/japan-all-stock-prices_20151014.csv
/japan-all-stock-prices_20151015.csv
/japan-all-stock-prices_20151016.csv
/japan-all-stock-prices_20151019.csv
/japan-all-stock-prices_20151020.csv
/japan-all-stock-prices_20151021.csv
/japan-all-stock-prices_20151022.csv
/japan-all-stock-prices_20151023.csv
/japan-all-stock-prices_20151026.csv
/japan-all-stock-prices_20151027.csv
/japan-all-stock-prices_20151028.csv
/japan-all-stock-prices_20151029.csv
/japan-all-stock-prices_20151030.csv
/japan-all-stock-prices_20151102.csv
/japan-all-stock-prices_20151104.csv
/japan-all-stock-prices_20151105.csv
/japan-all-stock-prices_20151106.csv
/japan-all-stock-prices_20151109.csv
/japan-all-stock-prices_20151110.csv
/japan-all-stock-prices_20151111.csv
/japan-all-stock-prices_20151112.csv
/japan-all-stock-prices_20151113.csv
/japan-all-stock-prices_20151116.csv
/japan-all-stock-prices_20151117.csv
/japan-all-stock-prices_20151118.csv
/japan-all-stock-prices_20151119.csv
/japan-all-stock-prices_20151120.csv
/japan-all-stock-prices_20151124.csv
/japan-all-stock-prices_20151125.csv
/japan-all-stock-prices_20151126.csv
/japan-all-stock-prices_20151127.csv
/japan-all-stock-prices_20151130.csv
/japan-all-stock-prices_20151201.csv
/japan-all-stock-prices_20151202.csv
/japan-all-stock-prices_20151203.csv
/japan-all-stock-prices_20151204.csv
/japan-all-stock-prices_20151207.csv
/japan-all-stock-prices_20151208.csv
/japan-all-stock-prices_20151209.csv
/japan-all-stock-prices_20151210.csv
/japan-all-stock-prices_20151211.csv
/japan-all-stock-prices_20151214.csv
/japan-all-stock-prices_20151215.csv
/japan-all-stock-prices_20151216.csv
/japan-all-stock-prices_20151217.csv
/japan-all-stock-prices_20151218.csv
/japan-all-stock-prices_20151221.csv
/japan-all-stock-prices_20151222.csv
/japan-all-stock-prices_20151224.csv
/japan-all-stock-prices_20151225.csv
/japan-all-stock-prices_20151228.csv
/japan-all-stock-prices_20151229.csv
/japan-all-stock-prices_20151230.csv
