/japan-all-stock-data_20150105.csv
/japan-all-stock-data_20150106.csv
/japan-all-stock-data_20150107.csv
/japan-all-stock-data_20150108.csv
/japan-all-stock-data_20150109.csv
/japan-all-stock-data_20150113.csv
/japan-all-stock-data_20150114.csv
/japan-all-stock-data_20150115.csv
/japan-all-stock-data_20150116.csv
/japan-all-stock-data_20150119.csv
/japan-all-stock-data_20150120.csv
/japan-all-stock-data_20150121.csv
/japan-all-stock-data_20150122.csv
/japan-all-stock-data_20150123.csv
/japan-all-stock-data_20150126.csv
/japan-all-stock-data_20150127.csv
/japan-all-stock-data_20150128.csv
/japan-all-stock-data_20150129.csv
/japan-all-stock-data_20150130.csv
/japan-all-stock-data_20150202.csv
/japan-all-stock-data_20150203.csv
/japan-all-stock-data_20150204.csv
/japan-all-stock-data_20150205.csv
/japan-all-stock-data_20150206.csv
/japan-all-stock-data_20150209.csv
/japan-all-stock-data_20150210.csv
/japan-all-stock-data_20150212.csv
/japan-all-stock-data_20150213.csv
/japan-all-stock-data_20150216.csv
/japan-all-stock-data_20150217.csv
/japan-all-stock-data_20150218.csv
/japan-all-stock-data_20150219.csv
/japan-all-stock-data_20150220.csv
/japan-all-stock-data_20150223.csv
/japan-all-stock-data_20150224.csv
/japan-all-stock-data_20150225.csv
/japan-all-stock-data_20150226.csv
/japan-all-stock-data_20150227.csv
/japan-all-stock-data_20150302.csv
/japan-all-stock-data_20150303.csv
/japan-all-stock-data_20150304.csv
/japan-all-stock-data_20150305.csv
/japan-all-stock-data_20150306.csv
/japan-all-stock-data_20150309.csv
/japan-all-stock-data_20150310.csv
/japan-all-stock-data_20150311.csv
/japan-all-stock-data_20150312.csv
/japan-all-stock-data_20150313.csv
/japan-all-stock-data_20150316.csv
/japan-all-stock-data_20150317.csv
/japan-all-stock-data_20150318.csv
/japan-all-stock-data_20150319.csv
/japan-all-stock-data_20150320.csv
/japan-all-stock-data_20150323.csv
/japan-all-stock-data_20150324.csv
/japan-all-stock-data_20150325.csv
/japan-all-stock-data_20150326.csv
/japan-all-stock-data_20150327.csv
/japan-all-stock-data_20150330.csv
/japan-all-stock-data_20150331.csv
/japan-all-stock-data_20150401.csv
/japan-all-stock-data_20150402.csv
/japan-all-stock-data_20150403.csv
/japan-all-stock-data_20150406.csv
/japan-all-stock-data_20150407.csv
/japan-all-stock-data_20150408.csv
/japan-all-stock-data_20150409.csv
/japan-all-stock-data_20150410.csv
/japan-all-stock-data_20150413.csv
/japan-all-stock-data_20150414.csv
/japan-all-stock-data_20150415.csv
/japan-all-stock-data_20150416.csv
/japan-all-stock-data_20150417.csv
/japan-all-stock-data_20150420.csv
/japan-all-stock-data_20150421.csv
/japan-all-stock-data_20150422.csv
/japan-all-stock-data_20150423.csv
/japan-all-stock-data_20150424.csv
/japan-all-stock-data_20150427.csv
/japan-all-stock-data_20150428.csv
/japan-all-stock-data_20150430.csv
/japan-all-stock-data_20150501.csv
/japan-all-stock-data_20150507.csv
/japan-all-stock-data_20150508.csv
/japan-all-stock-data_20150511.csv
/japan-all-stock-data_20150512.csv
/japan-all-stock-data_20150513.csv
/japan-all-stock-data_20150514.csv
/japan-all-stock-data_20150515.csv
/japan-all-stock-data_20150518.csv
/japan-all-stock-data_20150519.csv
/japan-all-stock-data_20150520.csv
/japan-all-stock-data_20150521.csv
/japan-all-stock-data_20150522.csv
/japan-all-stock-data_20150525.csv
/japan-all-stock-data_20150526.csv
/japan-all-stock-data_20150527.csv
/japan-all-stock-data_20150528.csv
/japan-all-stock-data_20150529.csv
/japan-all-stock-data_20150601.csv
/japan-all-stock-data_20150602.csv
/japan-all-stock-data_20150603.csv
/japan-all-stock-data_20150604.csv
/japan-all-stock-data_20150605.csv
/japan-all-stock-data_20150608.csv
/japan-all-stock-data_20150609.csv
/japan-all-stock-data_20150610.csv
/japan-all-stock-data_20150611.csv
/japan-all-stock-data_20150612.csv
/japan-all-stock-data_20150615.csv
/japan-all-stock-data_20150616.csv
/japan-all-stock-data_20150617.csv
/japan-all-stock-data_20150618.csv
/japan-all-stock-data_20150619.csv
/japan-all-stock-data_20150622.csv
/japan-all-stock-data_20150623.csv
/japan-all-stock-data_20150624.csv
/japan-all-stock-data_20150625.csv
/japan-all-stock-data_20150626.csv
/japan-all-stock-data_20150629.csv
/japan-all-stock-data_20150630.csv
/japan-all-stock-data_20150701.csv
/japan-all-stock-data_20150702.csv
/japan-all-stock-data_20150703.csv
/japan-all-stock-data_20150706.csv
/japan-all-stock-data_20150707.csv
/japan-all-stock-data_20150708.csv
/japan-all-stock-data_20150709.csv
/japan-all-stock-data_20150710.csv
/japan-all-stock-data_20150713.csv
/japan-all-stock-data_20150714.csv
/japan-all-stock-data_20150715.csv
/japan-all-stock-data_20150716.csv
/japan-all-stock-data_20150717.csv
/japan-all-stock-data_20150721.csv
/japan-all-stock-data_20150722.csv
/japan-all-stock-data_20150723.csv
/japan-all-stock-data_20150724.csv
/japan-all-stock-data_20150727.csv
/japan-all-stock-data_20150728.csv
/japan-all-stock-data_20150729.csv
/japan-all-stock-data_20150730.csv
/japan-all-stock-data_20150731.csv
/japan-all-stock-data_20150803.csv
/japan-all-stock-data_20150804.csv
/japan-all-stock-data_20150805.csv
/japan-all-stock-data_20150806.csv
/japan-all-stock-data_20150807.csv
/japan-all-stock-data_20150810.csv
/japan-all-stock-data_20150811.csv
/japan-all-stock-data_20150812.csv
/japan-all-stock-data_20150813.csv
/japan-all-stock-data_20150814.csv
/japan-all-stock-data_20150817.csv
/japan-all-stock-data_20150818.csv
/japan-all-stock-data_20150819.csv
/japan-all-stock-data_20150820.csv
/japan-all-stock-data_20150821.csv
/japan-all-stock-data_20150824.csv
/japan-all-stock-data_20150825.csv
/japan-all-stock-data_20150826.csv
/japan-all-stock-data_20150827.csv
/japan-all-stock-data_20150828.csv
/japan-all-stock-data_20150831.csv
/japan-all-stock-data_20150901.csv
/japan-all-stock-data_20150902.csv
/japan-all-stock-data_20150903.csv
/japan-all-stock-data_20150904.csv
/japan-all-stock-data_20150907.csv
/japan-all-stock-data_20150908.csv
/japan-all-stock-data_20150909.csv
/japan-all-stock-data_20150910.csv
/japan-all-stock-data_20150911.csv
/japan-all-stock-data_20150914.csv
/japan-all-stock-data_20150915.csv
/japan-all-stock-data_20150916.csv
/japan-all-stock-data_20150917.csv
/japan-all-stock-data_20150918.csv
/japan-all-stock-data_20150924.csv
/japan-all-stock-data_20150925.csv
/japan-all-stock-data_20150928.csv
/japan-all-stock-data_20150929.csv
/japan-all-stock-data_20150930.csv
/japan-all-stock-data_20151001.csv
/japan-all-stock-data_20151002.csv
/japan-all-stock-data_20151005.csv
/japan-all-stock-data_20151006.csv
/japan-all-stock-data_20151007.csv
/japan-all-stock-data_20151008.csv
/japan-all-stock-data_20151009.csv
/japan-all-stock-data_20151013.csv
/japan-all-stock-data_20151014.csv
/japan-all-stock-data_20151015.csv
/japan-all-stock-data_20151016.csv
/japan-all-stock-data_20151019.csv
/japan-all-stock-data_20151020.csv
/japan-all-stock-data_20151021.csv
/japan-all-stock-data_20151022.csv
/japan-all-stock-data_20151023.csv
/japan-all-stock-data_20151026.csv
/japan-all-stock-data_20151027.csv
/japan-all-stock-data_20151028.csv
/japan-all-stock-data_20151029.csv
/japan-all-stock-data_20151030.csv
/japan-all-stock-data_20151102.csv
/japan-all-stock-data_20151104.csv
/japan-all-stock-data_20151105.csv
/japan-all-stock-data_20151106.csv
/japan-all-stock-data_20151109.csv
/japan-all-stock-data_20151110.csv
/japan-all-stock-data_20151111.csv
/japan-all-stock-data_20151112.csv
/japan-all-stock-data_20151113.csv
/japan-all-stock-data_20151116.csv
/japan-all-stock-data_20151117.csv
/japan-all-stock-data_20151118.csv
/japan-all-stock-data_20151119.csv
/japan-all-stock-data_20151120.csv
/japan-all-stock-data_20151124.csv
/japan-all-stock-data_20151125.csv
/japan-all-stock-data_20151126.csv
/japan-all-stock-data_20151127.csv
/japan-all-stock-data_20151130.csv
/japan-all-stock-data_20151201.csv
/japan-all-stock-data_20151202.csv
/japan-all-stock-data_20151203.csv
/japan-all-stock-data_20151204.csv
/japan-all-stock-data_20151207.csv
/japan-all-stock-data_20151208.csv
/japan-all-stock-data_20151209.csv
/japan-all-stock-data_20151210.csv
/japan-all-stock-data_20151211.csv
/japan-all-stock-data_20151214.csv
/japan-all-stock-data_20151215.csv
/japan-all-stock-data_20151216.csv
/japan-all-stock-data_20151217.csv
/japan-all-stock-data_20151218.csv
/japan-all-stock-data_20151221.csv
/japan-all-stock-data_20151222.csv
/japan-all-stock-data_20151224.csv
/japan-all-stock-data_20151225.csv
/japan-all-stock-data_20151228.csv
/japan-all-stock-data_20151229.csv
/japan-all-stock-data_20151230.csv
